:host {
  display: block;
  padding: 20px 0;
}


.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-source-copy {
  position: absolute;
  top: 8px;
  display: none;
}


.docs-example-source {
  padding: 0 30px 10px 30px;
  min-height: 150px;
}

.docs-example-viewer-body {
  padding: 30px;
}

.docs-example-viewer-wrapper {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
}


.docs-example-source-copy {
  right: 8px;
}

.docs-example-source {
  overflow: auto;
}

::ng-deep .docs-source-tabs > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels {
  justify-content: flex-start !important;
}

