<p>Demonstrates a custom filtering requirement where only some part of the string needs to be filtered.</p>
<p>Flight Route is filtered according to the custom filtering predicate provided with propertyOptions.</p>
<mat-table matTableFilter [exampleEntity]="filterEntity" [propertyOptions]="propertyOptions"
[filterType]="filterType" [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Flight Route" [(ngModel)]="filterEntity.name">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="journeyTime">
    <mat-header-cell *matHeaderCellDef>
      Journey Time
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.journeyTime}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
