<header class="docs-header-background">
  <div class="docs-header-section">
      <a class="docs-header-container" href="https://github.com/HalitTalha/mat-table-extensions" target="_blank">
        <img class="docs-header-logo" src="assets/logos/github.png">
        <a class="docs-header-headline">/HalitTalha</a>
      </a>
    <div class="docs-header-headline">
      <h1 class="mat-h1">mat-table-extensions</h1>
      <h2> Extended features for Angular Material Tables</h2>
    </div>
  </div>
</header>
  <mat-tab-group class="docs-tabs" mat-align-tabs="center">
      <mat-tab label="Exporter">
        <app-exporter></app-exporter>
      </mat-tab>
      <mat-tab label="Filter">
        <app-filter></app-filter>
      </mat-tab>
  </mat-tab-group>
<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">

      </div>
    </div>
  </div>
</footer>
