<h1>
    mat-table-filter
  </h1>
  <p>
    Provides filtering support for @angular/material tables
  </p>

    <mat-table matTableFilter [exampleEntity]="filterEntity" [columnOptions]="columnOptions"
    [filterType]="filterType" [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Name" [(ngModel)]="filterEntity.name">
          </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="captainName">
        <mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Captain Name" [(ngModel)]="filterEntity.captain.name">
          </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.captain.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="captainSurname">
        <mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Captain Surname" [(ngModel)]="filterEntity.captain.surname">
          </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.captain.surname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isConstitutionClass">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox class="example-margin" [(ngModel)]="filterEntity.isConstitutionClass">Constitution Class</mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.isConstitutionClass}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

