<div class="docs-page">
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Overview">
    <markdown (buttonClick)="onCopyClipboard()" ngPreserveWhitespaces [src]="'assets/docs/exporter/README.md'"></markdown>
  </mat-tab>
  <mat-tab label="API">
    <markdown (buttonClick)="onCopyClipboard()" ngPreserveWhitespaces [src]="'assets/docs/exporter/API.md'"></markdown>
  </mat-tab>
  <mat-tab label="Examples">
    <app-example-viewer *ngFor="let example of examples" [exampleType]="example"></app-example-viewer>
  </mat-tab>
</mat-tab-group>
</div>
