<p>Demonstrates how to handle filtering for specific properties of table items.</p>
<p>In this example the table lists space-crafts. A space-craft has a captain. A captain has some properties.
  Filtering for captain's name is done with an exact match. The rest of the properties are filtered with ANYWHERE filter type.
</p>

<!-- Filtering properties for captain.name are set to be an exact match by using propertyOptions binding-->
<mat-table matTableFilter [exampleEntity]="filterEntity" [propertyOptions]="propertyOptions"
[filterType]="filterType" [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" [(ngModel)]="filterEntity.name">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="captainName">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Captain Name" [(ngModel)]="filterEntity.captain.name">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.captain.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="captainSurname">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Captain Surname" [(ngModel)]="filterEntity.captain.surname">
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.captain.surname}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isConstitutionClass">
      <mat-header-cell *matHeaderCellDef>
          <mat-slide-toggle
          class="constitution-padding"
          [(ngModel)]="filterEntity.isConstitutionClass">
        Constitution Class
      </mat-slide-toggle>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isConstitutionClass}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
